.productCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid var(--color-blue-950);
}

.productCard figure img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.productInfo {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  padding: 0.5rem 1rem 1rem;
}

.productCategory {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-blue-900);
  border-radius: 1rem;
  background-color: var(--color-blue-900);
  color: var(--gray-800);
}

.productInfo h3 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;

  margin-block: 0.5rem;
  overflow: hidden;
}
