.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-blue-600);
  color: var(--gray-900);

  > h2 {
    margin-block: 1rem;
  }

  > button {
    font-weight: 800;
  }
}
