.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.navLink {
  position: relative;
  padding: 0.5rem 1rem 0.5rem 0.5rem;

  &:hover {
    color: var(--color-blue-950);
    text-decoration: underline;
    text-decoration-color: var(--color-blue-950);
    text-decoration-thickness: 2px;
    text-underline-position: under;
  }

  span {
    position: absolute;
    bottom: 20px;
    left: 28px;
    width: 20px;
    border-radius: 8px;
    background-color: var(--color-blue-950);
    color: var(--gray-900);
    text-align: center;
  }

  svg {
    stroke: var(--color-blue-950);
  }
}
